<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54594007020-66p6boib1gs5n5khikh33nvsv8tp24eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54594007020-66p6boib1gs5n5khikh33nvsv8tp24eh</string>
	<key>API_KEY</key>
	<string>AIzaSyB4awQwuCx2simqqH5evQwd806283mSdBo</string>
	<key>GCM_SENDER_ID</key>
	<string>54594007020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nomadjonno.iQuarantine</string>
	<key>PROJECT_ID</key>
	<string>iquarantine-6a6b5</string>
	<key>STORAGE_BUCKET</key>
	<string>iquarantine-6a6b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54594007020:ios:5a2ac6226aa8250bfc1ac9</string>
	<key>DATABASE_URL</key>
	<string>https://iquarantine-6a6b5.firebaseio.com</string>
</dict>
</plist>